src/main/mule/choicerouter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e99ebd1d-3fe7-4c59-bb89-9c00e7931b7b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="choicerouterFlow" doc:id="5f362716-24ea-4c0b-9370-1e7349b93241" >
		<http:listener doc:name="Listener" doc:id="4048a073-361d-483f-963a-c6f3bf99dbc9" config-ref="HTTP_Listener_config" path="/choice"/>
		<ee:transform doc:name="Transform Message" doc:id="150406f0-3405-45d3-9804-80868a403bc3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.age	
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5dc27723-fd42-4789-835b-6b1d5c19a850" message="#[payload]"/>
		<choice doc:name="Choice" doc:id="5f23d25f-2eb7-435a-9818-d737bff0a26b" >
			<when expression='#[payload == payload]'>
				<logger level="INFO" doc:name="Logger" doc:id="464e5033-f76a-45df-85c1-be8f3f940176" message="#[payload]"/>
			</when>
			<when expression="#[payload == &#10;[1,2,4]]">
				<logger level="INFO" doc:name="Logger" doc:id="e93a0ef2-4e4e-47e4-b255-cb775d45e2c7" message="#[payload]"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="ef4c93a0-8169-4405-9d7b-90585e53a6ed" message="#[payload]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="1613eb03-a9c2-4f00-b901-f8dec14d6a3b" message="#[payload]"/>
	</flow>
</mule>
